.popSuccess{
    margin-top: 0% !important;
    width: 40%;
    position: fixed;
    margin-left: 15%;
    border: 1px solid black;
    color: black !important;
     text-align: center;
}.showad1 {
  position: absolute;
  bottom: 120%;          /* pushes it above the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(81, 175, 237);
  color: white;
  padding: 8px 12px;
  width: 200px;
  border-radius: 6px;
 
  font-size: 13px;
  z-index: 1000;
}
.iconWrapper1 {
  position: relative;
  display: flex;
  align-items: center;
}
.rgpad button{
  padding: 5px 10px !important;
}
@media(max-width:1020px){
    .popSuccess{
    margin-top: 0% !important;
    width: 90%;
    position: fixed;
    margin-left: 0%;
    height: 30%;
}
.datasuccess{
    margin-top: 0% !important;
    
    text-align: center;
    width: 100%;
 
    padding-top: 30px;
}
}