.division{
    display: flex;
    justify-content: space-between;
}
.tracsIMG{
    height: 60px;
    margin-bottom: 15px;
}
@media (max-width:1024px){
    .division{
        flex-direction: column;
    }
}