.replyMessageContainer{
    background-color: #f7f9fb;
    width: 100%;
    height: 100%;
}
#MessagesContainer{
    border: 1px solid rgb(174, 166, 166);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
}
#MessagesContainer1{
    display: flex;
}
#MessagesContainer2{
    border-left: 2px solid rgb(8, 62, 240);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.newimg1{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.recpemail{
display: flex;

justify-content: space-between;
}
/* Plain ReactQuill editor styling */
.ql-container {
  height: 250px;       /* ⬅️ increase height */
    border-radius: 10px;
    font-size: 15px;
    overflow-y: auto;
}



/* Remove toolbar completely */
.ql-toolbar {
    display: none !important;
}

/* Optional: better focus feel */
.ql-container.ql-snow {
    border: 1px solid #cbd5e1;
}

.ql-container.ql-snow:focus-within {
    border-color: #2563eb;   /* blue border on focus */
}

@media(max-width:1020px){
    .recpemail{
display: flex;
flex-direction: column;
justify-content: space-between;
}
}