.heroSection{
    text-align: center;
    display: flex;
  flex-direction: column;
  align-items: center;      /* horizontal center */
  justify-content: center; 
    background-color: rgba(0, 0, 0, 0);
    background-image: radial-gradient(circle at center, #ffffff 0%, #f0f7ff 50%, #e1eeff 100%);
}
.heroSection h1{
    font-size: 64px !important;
margin: 0px 0px 12px;
font-weight: 850;
letter-spacing: -1px;
   text-size-adjust: 100%;
}
.heroSubtext p{
    font-size: 18px !important;
    color: #5b6e83;
    margin: 1.5rem auto;
    text-align: center;
    font-weight: 500;
}
.heroSubtext{
    max-width: 700px;
    padding-bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.hero2{
     text-align: center;
    display: flex;
   width: 80%;
   margin-left: 10%;
  flex-direction: column;
  align-items: center;      /* horizontal center */
  justify-content: center; 
}
.hero2 h2{
    margin-top: 40px;
    font-size:35px !important ;
    text-size-adjust: 100%;
    color: #1e3a8a;
    font-weight: 700;
    margin-bottom: 20px;
}
.hero2 p{
    box-sizing: border-box;
    color: rgb(91, 110, 131);
    display: block;
    font-size: 18px !important;
    font-weight: 500;
    line-height: 28.8px;
    margin-block-end: 20px;
}
.hero3{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
}
.heroImg{
width: 50%;
}
.regfbhsf{
    font-size: 13.6px !important;
    font-weight: 700;
}
.pefvh{
    color: rgb(30, 58, 138);
    font-size:40px !important ;
    font-weight:800 ;
    text-size-adjust: 100%;
}
.circleIcon{
    color: rgb(0, 188, 212);
    margin-right: 10px;
}
.adgbawy{
    color: rgb(30, 58, 138) !important;
}
#awdawdd{
    border-left: 2px solid rgb(0, 188, 212) !important;
}
@media (max-width:1024px) {
    .hero2{
     text-align: center;
    display: flex;
   width: 90%;
   margin-left: 5%;
  flex-direction: column;
  align-items: center;      /* horizontal center */
  justify-content: center; 
}
}