.containerFilter{
    padding: 20px;
    width: 83% !important;
    margin-left: 17%;

}
.messagesContainer{
    background-color: white;
    border-radius: 20px;
    padding: 40px;
     width: 81% !important;
    margin-left: 18%;
    margin-bottom: 20px;
}
.myDetails{
    border-bottom: 1px solid transparent !important;
}
.senderpicsContainer{

}
.senderpicHolder{
    display: flex;
     gap: 8px; /* control spacing here */
    flex-wrap: wrap;
}
.senderpiccc{
    
    padding: 12px 20px;
    border-radius: 7px;
}
.senderpiccc:hover{
    background-color: rgb(243, 243, 243);
}
.dropDown3{
    height: fit-content;
    width: 160px;
    margin-left: 0px;
    position: absolute;
    margin-top: 12px;
  border-radius: 5px;
    background-color: #ffffff;
 border:1px solid rgb(163, 163, 163);
    cursor: pointer;
 
}
.dropDown3 p{
    font-weight: 500 !important;
    font-size: 15px !important;
}
.makeIntoButton button{
    padding: 14px 24px 14px 24px;
    border-radius: 10px;
    background-color: #2563EB ;
    font-weight: 600;
    display: flex;
    color: rgb(255, 255, 255);
}
.makeIntoButton{
    display: flex;
    float:right;
    position: relative;
}
.MessageIntroButt{
  
    background-color: #ffffff;
    padding: 10px 25px;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 15px;
    justify-content: space-between;
}
.MessageIntroButt h1{
    font-size: 24px;
    font-weight: 600;
}
.MessageIntroButt p{
    font-size: 14px !important;
}
.showSideNav{
    display: none !important;
}
.textsim{
    background-color: rgb(221, 212, 113);
    color: black;
    padding: 4px 8px;
     height: fit-content;
    border-radius: 4px;
    width: fit-content;
    margin-left: 10px;
    font-size: 12px !important;
}
.textsim2{
    background-color: green;
    color: rgb(255, 255, 255);
    padding: 4px 8px;
      width: fit-content;
    border-radius: 4px;
    height: fit-content;
    margin-left: 10px;
    font-size: 12px !important;
}

.redp{
    font-size: 14px !important;
    font-weight: 600;
}
.redp56{
    font-size: 12px !important;
    font-weight: 400;
}
.ressp{
    font-size: 13px !important;
    font-weight: 600 !important;
}
.repsss2{
font-size: 12px !important;
font-weight: 400;
color: rgb(107, 114, 128);
    font-weight: 500;
}
.inrodrop{
    display: flex;
width: 100%;

    overflow: hidden;
}
.inrodrop2{
margin-left: 20px;
width: 10%;
}
.inrodrop1{
white-space: nowrap;
width: 50%;
height: 35px;
 overflow: hidden;
 
}
.inrodrop1.open {
  white-space: normal;      /* word wrap */
  overflow: visible;  
  height: fit-content; 
  width: 100%;     /* remove overflow */
}
.guideButton{
    padding: 5px 10px !important;
}
.senderMessage p{
    font-size: 14px !important;
}
.awdhdivflex{
display: flex;
flex-direction: row;
}
.divdiff{
    width: 100% !important;
   
}
.divdiff1{
    width: 50% !important;
   
}
.divdiff3{
    display: flex;
    gap:4px;
    flex-wrap: wrap; 
   
}
.Introsection{
    display: flex;
    justify-content: space-between;
}
.senderDetailspic1{
       background-color: rgb(248 250 252 / 0.5);
       padding: 1rem;
       justify-content: center;
       border-radius: 7px;
border:1px solid rgb(227, 223, 223) ;
}
.ressp p{
    font-size: 13px !important;
    font-weight: 600 !important;
}
.grtop{
    color: grey;
}
.grtop:hover{
color: #0c1be5;
cursor: pointer;
}
.btn-sm {
    padding: 7px 14px;
    font-size: 0.8rem;
     background-color: #ffffff;
    border-radius: 8px;
}
.quickReply-container{
    margin-top: 20px;
    border-top:1px solid #ddd ;
}
.quill-wrapper2 {
  resize: vertical;
  overflow: hidden;
  
  max-height: 300px;
  border: 1px solid #ddd;
}
.quill-wrapper2 .ql-container {
  min-height: 90px !important;
  height: auto !important;
}
.senderpiccc img{
    border-radius: 10px;
}

.quill-wrapper2 .ql-editor {
  min-height: 90px !important;
}
.quickReplyTemplate{
    width: 100%;
   
}
.quickReplyTemplate select{
    padding: 4px 12px;
    border: 1px solid rgb(217, 217, 217) !important;
    width: 100%;
    margin-top: 20px;
    border: 5px;
    margin-bottom: 20px;
}
.btn-secondary {
    background-color: #ffffff;
}
.quickSend{
    padding: 8px 12px;
}
.quickCancel{

}
@media(max-width: 1024px){
    .Introsection{
    display: flex;

    flex-direction: column;
    margin-bottom: 7px;
}
    .divdiff{
    width: 100% !important;
    
    flex-direction: column;
}
.divdiff1{
    width: 100% !important;
   
}
.divdiff3{
    width: 100% !important;
    gap:1rem
   
}
    .messagesContainer{
       
        padding:20px  !important
    }
.senderpicHolder{
    flex-direction: column;
    margin-bottom: 15px;
}
.awdhdivflex{
    flex-direction: column;
}
.inrodrop{
    display: flex;
   
    width: 100%;
}
.inrodrop1{
white-space: nowrap;
width: 89%;
 overflow: hidden;
}
.inrodrop1.open {
  white-space: normal;      /* word wrap */
  overflow: visible;   
  width: 350px;     /* remove overflow */
}
.makeIntoButton button{
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
}
.dropDown3{
    margin-left: -54px;
    width: 120px !important;
}
.containerFilter{
    padding: 20px;
    width: 100% !important;
    margin-left: 0%;
overflow-y: auto;

}
.messagesContainer{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
     width: 94% !important;
    margin-left: 3%;
    margin-bottom: 20px;
    overflow-y: auto;
}
}