h2{
 font-family:'Inter', sans-serif !important;
font-size: 25px !important;
}
p{
     font-family:'Inter', sans-serif !important;
font-size: 14px !important;
}
h3{
 font-family:'Inter', sans-serif !important;
font-size: 20px !important;
}
button{
  font-family:'Inter', sans-serif !important;
  padding: 8px 16px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}
input{
     font-family:'Inter', sans-serif !important;
}
h4{
 font-family:'Inter', sans-serif !important;

}
h5{
     font-size: 18px !important;
     font-weight: 700 !important;
      font-family:'Inter', sans-serif !important;

}
h1{
     font-family:'Inter', sans-serif !important;
}
p{
     font-size: 18px !important;
}
label{
     font-weight: 400 !important;
     font-size: 15px !important;
     font-family:'Inter', sans-serif !important;
}
table thead td {
    color: #fff !important;
    padding: 12px 8px !important;
    background-color: #000 !important; 
}
li{
       font-family:'Inter', sans-serif !important;
 
}
th{
     font-size: 15px !important;
     font-weight: 600 !important;
      font-family:'Inter', sans-serif !important;
}
td{
        font-size: 14px !important;
     font-weight: 400 !important;
      font-family:'Inter', sans-serif !important;
}