.conus{
    width: 80%;
    margin-top: -100px;
}
.cons1{
    background-color: white;
    padding: 40px;
    border-radius: 20px;
}
.raedaw{
    text-align: center I !important;
    color: rgb(22, 59, 109);
    font-size: 27px !important;
    font-weight: 700;
    text-size-adjust: 100%;
    margin-bottom: 30px;
}
.curb{
    background-color: rgb(22, 59, 109);
    text-align: center;  color: white;
}
.curb h1{
    font-size: 35px !important;
    font-weight: 800 !important;
    padding: 20px 0px 5px;
  
}
.curb p{
    font-weight: 500;
    
}
.curbData{
    width: 40%;
    margin-left: 30%;
    padding-bottom: 20px;
}
.curbData2{
    width: 70%;
    margin-left: 15%;
    padding-bottom: 20px;
}
@media(max-width:1024px){
    .curbData{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 20px;
}
    .curbData2{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 20px;
}
    .conus{
        width: 100%;
    margin-top: -280px;
    }
    .cons1{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}
}