.introooo22{
    display: flex;

    width: 80%;
}
.inrodropp1{
    width:90%;
    overflow: hidden;
    white-space: nowrap;
}
.ql-container{
    resize: vertical;
 overflow: auto;
  min-height: 120px;
}

.quill-wrapper {
  width: 80%;
}


@media (max-width: 1020px) {
  .quill-wrapper {
    width: 100%;
  }
  .onvuinput input{
width: 100% !important;
  }
  .injvburton{
    width: 100%;
    justify-content: center;
  }
  .injvburton button{
    width: 100%;
    justify-content: center;
  }
  .lkjgf input{
  }
}