.activeMeme{
    display: flex;
    justify-content: space-between;
  
}
.QuotaHolder{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.ContactsStorage{
width: 40%;
background-color: white;
padding: 20px;
border-radius: 20px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.IntroQuota{
    width: 40%;
background-color: white;
padding: 20px;
border-radius: 20px;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}
.intoHeading{
font-size: 20px !important;
font-weight: 800;
}
.IntroPara{
font-size: 14px !important;
font-weight: 500;
}
.forp{
    font-size: 14px !important;
}
.forpr{
     font-size: 14px !important;
     font-weight: 500 !important;
}
.forprr{
    font-weight: 700 !important;
    font-size: 14px !important;
}
@media(max-width:1024px){
    .activeMeme{
        display: flex;
flex-direction: column;
margin-bottom: 15px;
    }
    .QuotaHolder{
        flex-direction: column;
        width: 100%;
    }
    .ContactsStorage{
width: 100%;
margin-top: 20px;
background-color: white;
padding: 20px;
border-radius: 20px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.IntroQuota{
    width: 100%;

background-color: white;
padding: 20px;
border-radius: 20px;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}
}