.inputnew{
background-color: aqua !important;
border: 2px solid black !important;
}
.dicvd{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.replaceButton button{
    background-color: #4f46e5;
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
}
.dicvd2{
    display: flex;
    margin-top: 20px;
    justify-content: end;
    padding-top: 20px;
    border-top: 1px solid rgb(117, 113, 113);
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(6px);
  z-index: 40;
}
.contactsForm2{
    width: 40%;
    margin-left:30%;
    margin-right: 30%;
    border: 1px solid black;border-radius: 20px;
    background-color: white;
  
    margin-top: 5%;
position: fixed;
}
.contactsHeading{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid black;
}
.contactData{
flex-direction: column;
padding: 12px;
}
.contactData input{
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    padding-left: 10px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid black;
}
.conButtons{
    margin-top: 30px;
    margin-bottom: 40px;
    float: left;
    justify-content: space-between;
}
#but1{
background-color: #10b981;

padding: 8px 18px;
font-size: 16px;
color: white;
border-radius: 20px;}
#but2{
color: #374151;
font-size: 16px;
margin-right: 50px;
border: 1px solid rgb(164, 158, 158);
padding: 8px 18px;
border-radius: 20px;
}
.prdasefed{
    font-size: 14px !important;
    margin-top: 7px;
}
@media(max-width:1024px){
    .dicvd{
        flex-direction: column;
    }
    .dicvd button{
        width: 100%;
        margin-bottom: 20px;
    }
    .dicvd2{
        flex-direction: column;

    }
    .dicvd2 button{
        width: 100%;
        
    }
    #but2{
        margin-bottom: 20px;
    }
    .contactsForm2{
    width: 90%;
    margin-left:3%;
    margin-right: 30%;
    border: 1px solid black;border-radius: 20px;
    background-color: white;
  
    margin-top: 25%;
position: fixed;
}
.overlay{
    width: 100%;
}
}